.exercise-timing {
  margin-top: 30px;
}
.time-spend {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 244, 245);
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
}
.time-spend p {
  margin: 0;
  font-weight: 500;
}
.time-spend span {
  color: rgb(160, 160, 149);
}
.exercise-timing button {
  margin-top: 50px;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 8px;
}
