.cart-info {
  background-color: white;
  height: 100vh;
  padding: 20px 10px;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 576px) {
  .cart-info {
    margin: 20px;
    border-radius: 10px;
    height: 520px;
  }
}
