.equipment {
  width: 180px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}
.equipment img {
  width: 100%;
  height: 90px;
  border-radius: 8px;
}
.equipment-info {
  text-align: start;
}
.equipment button {
  color: white;
  background-color: tomato;
  width: 90%;
  padding: 10px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .equipment {
    width: 80%;
    margin: auto;
    margin-left: 20px;
  }
  .equipment img {
    height: 170px;
  }
}
