.club-name {
  margin-top: 50px;
  color: tomato;
}
.icon-dum {
  margin-right: 10px;
}
.equipment-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 900px) {
  .equipment-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px;
  }
}
