.btn-break {
  background-color: rgb(238, 244, 245);
  padding: 7px;
  border-radius: 8px;
}
.btn-break button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  border: none;
  margin-left: 6px;
  font-weight: 600;
  background-color: white;
}
