.text-img {
  display: flex;
  align-items: center;
}
.text-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.text-info h4 {
  margin: 0;
}
.text-info p {
  margin: 0;
}
.icon-loc {
  margin-right: 5px;
  color: rgb(173, 164, 157);
}
.body {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(238, 244, 245);
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 500;
}
.body-structure {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
